# Dependencies
node_modules/

# Build
dist/
build/
*.local

# Logs & env
*.log
npm-debug.log*
.env
.env.*

# OS & editors
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Test / coverage
coverage/
